
body {
  background-image: url('https://i.pinimg.com/originals/49/cd/d8/49cdd838e8c6d7fe5e2dd55deead5567.gif');
  background-repeat: no-repeat;
  color: #ffffff;
}


.container {
  text-align: center;
  margin: 50px auto;
}

.card-container {
  max-width: 400px; 
  margin: 0 auto;
  position: relative;
}

.card {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18rem;
  
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border: 2px solid #000000; 
}



.card-title {
  font-size: 1.5rem;
  color: #000000;
  margin-bottom: 10px;
  border: 2px solid #000000; 
  padding: 10px;
  border-radius: 5px; 
}

.card-img-top {
  width: 100%;
  border-radius: 100px 100px 0 0;
}


input[type="number"], button {
  border-radius: 5px;
  border: 2px solid #000000;
}

input[type="number"] {
  width: 200px;
  padding: 10px;
}

button {
  padding: 10px 20px;
  background-color: #000000;
  border-color: #ffffff;
  color: #fefefe;
}

.badge {
  background-color: #ffffff;
  border: 2px solid #000000; 
  padding: 5px; 
  border-radius: 5px; 
}

