



body {
    margin-left: 500px;
    margin-right: 1000px;
    padding: 0%;
    text-align: center;
  }
  
  .container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 150px;
  }










